<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF8">
    <title>广告管理系统</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>
<body>

<div class="container-fluid">

    <div class="col-12 text-center bt-3">
        <h3><a class="blog-header-logo text-red" href="${request.contextPath}/ads">进入后台管理</a></h3>
    </div>

    <div class="col-12 text-center bt-3">
        <h4>欢迎进入广告管理系统</h4>
        <h4>更多内容，请访问<a href="http://www.jikeh.cn">${site}</a></h4>
    </div>

</div>

</body>
</html>