<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jikeh.mapper.AdMapper">

	<select id="selectByPrimaryKey" resultType="Ad">
		select * from ad where id = #{id}
	</select>

	<select id="selectByAd" resultType="Ad">
		select * from ad
		<where>
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="name != null and name != ''">
				and name like #{name}
			</if>
		</where>
		order by id
	</select>

	<select id="selectAll" resultType="Ad">
		select * from ad
	</select>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into ad(name, destination_url, img_url)
		values (#{name}, #{destinationUrl}, #{imgUrl})
	</insert>

	<update id="updateById">
		update ad
		<set>
			<if test="name != null and name != ''">
				name = #{name},
			</if>
			<if test="destinationUrl != null and destinationUrl != ''">
				destination_url = #{destinationUrl},
			</if>
			<if test="imgUrl != null and imgUrl != ''">
				img_url = #{imgUrl},
			</if>
			id = #{id}, update_time = #{updateTime}
		</set>
		<where>
			id = #{id}
		</where>
	</update>

	<delete id="deleteById">
		delete from ad where id = #{id}
	</delete>

</mapper>